.ProjectName{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  //border: 1px solid firebrick;

  .projectNameText{
    margin: 0 10px 0 0;
  }

  .CopyButtonContainer{
    display: none;
  }

  &:hover .CopyButtonContainer{
    display: block;
  }
}