.ClientAccountNavBar {
  display: flex;
  flex-direction: column;
  min-width: 280px;
  width: 20%;
  min-height: 300px;
  margin: 10px 0;
  padding: 5px 0 0 0;
  height: 50%;
  /*border: 1px solid blueviolet;*/

  .projectsCollapse {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    //border: 1px solid black;

    .ListItemProject {
      width: 255px;
      text-decoration: none;
      //margin: 10px 10px 0 10px;
      //border: 1px solid hotpink;

      .icon{
        display: flex;
        justify-content: center;
        //border: 1px solid red;
      }
      
      /*.TabIcon {
        margin: 0 5px 0 0;
      }*/

      .itemTitle {
        padding: 0 0 0 10px;
        word-break: break-word;
      }
    }
  }
}