@import "../../AppGlobalStyles/Colors.module";

.projectStatusIndicator{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  //border: 1px solid brown;
}

.projectInProgress{
  background-color: $colorInProgress;
}
.projectManaged{
  background-color: $colorManaged;
}
.projectFrozen{
  background-color: $colorFrozen;
}
.projectCompleted{
  background-color: $colorCompleted;
}