.Title{
  display: flex;
  align-items: center;
  //margin: 20px 0 0 0;
  //padding: 0 10px;
  //border: 1px solid black;

  .titleIcon{
    display: flex;
    align-items: center;
    margin: 0 10px 0 0;
    //border: 1px solid navy;
  }
  .titleText{
    font-size: 20px;
    //border: 1px solid darkviolet;
  }
}