.QuestionText{
  min-height: 95px;
  display: flex;
  align-items: center;
  /*border: 1px solid brown;*/
  .DisplayQuestionText{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 50px;
    word-break: break-word;
    cursor: pointer;
    /*border: 1px solid violet;*/

    .text{
      width: 90%;
      /*border: 1px solid red;*/
    }

    .EditAndDeleteQuestionText{
      display: none;
      width: 10%;
      min-width: 50px;
      /*border: 1px solid green;*/
    }

    &:hover .EditAndDeleteQuestionText{
      display: block;
    }
  }
  .QuestionTextForm{
    /*border: 1px solid green;*/
  }
}