.ClientAccountBody{
  //margin: 0 15px;
  width: 78%;
  min-width: 280px;
  margin: 10px 0;
  padding: 0 20px;
  border: 1px solid red;

  .Breadcrumbs{
    padding: 10px;
    margin: 0 0 15px 0;
  }
}