.ProjectCreationContainer {
    background-color: #e8eaf6;
    /*border: 1px solid red;*/


    .contentDataContainer {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        padding: 3%;
        /*border: 1px solid mediumvioletred;*/

        .editingDataContainer {
            margin-right: 3%;
            flex: 2 0 0;

            background-color: white;
            /*border: 1px solid forestgreen;*/

            .editingDataTitle{
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 10px;
                /*border: 1px solid navy;*/

                .Typography{
                    display: inline-block;
                    min-width: 80%;
                    max-width: 90%;
                    text-align: center;
                    word-break:break-word;
                    /*border: 1px solid red;*/
                }
            }
        }
    }
}




