.ResponseContacts{
  padding: 0 15px 10px 15px;
  /*border: 1px solid violet;*/
  .contactsContainer{
    width: 60%;
    margin: 0 0 15px 0;
    /*border: 1px solid red;*/
  }
  .DisplayResponseContacts{}
  .ResponseContactsForm{}
}