.SelectingTypeResponse{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 35%;
  min-width: 230px;
  min-height: 80px;
  padding: 5px 0;
  /*border: 1px solid orange;*/

  .selectingTypeTitle{
    font-size: 20px;
    margin: 0 0 5px 0;
    /*border: 1px solid green;*/
  }

  .formControl{
    width: 70%;
  }
}